
<% if nutritionist.meals.nil? %>
  <%= "Sorry bud..." %>
<% else %>
  <% nutritionist.meals.each do |meal| %>
    <div class='nutritionist-meal-card' data-meal-id="<%= meal.id %>">
      <%= cl_image_tag meal.photo, crop: :fill, class: 'image-meal' %>
      <div class='name-meal'>
        <%= truncate(meal.name, length: 35, separator: ' ') %>
      </div>
      <div class="<%= meal.type.downcase %> meal-type">
        <%= meal.type %>
      </div>
      <div class="calories text-center">
        <%= "#{meal.calories} cal" %>
      </div>
    </div>
  <% end %>
<% end %>
