<div class="">
  <!-- <div id="meal-carousel">
  </div> -->
  <% @meal_plans.reverse.each do |meal_plan| %>
      <!-- <div class="meal-plan"> -->
      <div class="">
        <!-- <div class="meal-plan-card"> -->
        <div class="meal-plan-card-index">
          <div class="frame">
            <h2 class="title-meal-plan-index no-margin-top"><%= meal_plan.name  %></h2>
            <%= link_to meal_plan_path(meal_plan.id), method: :delete do %>
              <i class="fas fa-times"></i>
            <% end %>
            <div class="frame-index">
              <% meal_plan.meals.each do |meal| %>
                <%= link_to nutritionist_meal_path(meal.nutritionist, meal) do %>
                  <div class="meal-card meal-card-index no-grow">
                  <div class="mask" style="background-image: url('<%= cl_image_path meal.photo %>');">
                    <div class="<%= meal.type.downcase %> meal-type">
                      <%= meal.type %>
                    </div>
                  </div>
                  <div class="meal-card-labels">
                    <div class="meal-card-calories">
                      <i class="far fa-clock"></i>

                      <p><%= "#{meal.time} min"%></p>
                    </div>
                    <div class="meal-card-calories">
                      <i class="fas fa-fire"></i>
                      <p><%= "#{meal.calories} cal"%></p>
                    </div>
                    <div class="meal-card-calories">
                      <i class="fas fa-utensils"></i>
                      <p><%= meal.yield %></p>
                    </div>
                  </div>

                  <div class="meal-card-name">
                    <%= truncate(meal.name, length: 40, separator: ' ') %>
                  </div>
                </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>

</div>
