<div class="tabs margin-top-2">
  <% if current_user.nutritionists.nil? %>
    <%= "Sorry bud" %>
  <% else %>
    <% current_user.nutritionists.each do |nutritionist| %>
      <%= link_to new_meal_plan_path(nutritionist_id: nutritionist.id), remote: true, class: "tab-nutritionist" do %>
        <span class="tab">
          <%= cl_image_tag(nutritionist.photo, width: 200, height: 200, crop: :thumb, gravity: :face, class: "avatar-small margin-left-2 margin-rigth-2") %>
          <span class="tab-name margin-right-2">
            <%= nutritionist.name.split(" ").last %>
          </span>
        </span>
      <% end %>
    <% end %>
  <% end %>
</div>

<div class="flex-std">
  <div id="js-nutritionist-meals">
    <%= render "nutritionist_meals", nutritionist: @nutritionist %>
  </div>

  <div class="meal-plan-planner">
    <%= render "meal_plan", meals: @meals %>
  </div>
</div>
