<% if nutritionists.empty? %>
  <%= "Sorry pal, no healthy food for you..." %>
<% else %>
  <% nutritionists.each do |nutritionist| %>
    <div class='col-xs-12 col-sm-6 col-md-3 text-center'>
      <%= link_to nutritionist_path(nutritionist) do %>
        <div class='nutritionist-card'>
            <%= cl_image_tag nutritionist.photo, width: 500, height:700, crop: :fill, class: 'image-nutritionist' %>
          <div class='name-nutritionist'>
            <%= nutritionist.name %>
          </div>
          <div class='<%= nutritionist.specialty.downcase.split(' ').join('-') %> specialty-tag'>
            <%= nutritionist.specialty %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
