<div class="container">
  <div class="full-profile">
    <div class="avatar-image">
      <%= cl_image_tag @nutritionist.photo, width: 500, height:500, crop: :fill, class: "avatar-circle" %>
    </div>
    <div class="description">
      <h4 id="title-yo"><%= @nutritionist.name %>Bio<%= @nutritionist.bio %></h4>
    </div>
    <div class="follow">
      <%= link_to 'Follow'%>
    </div>
  </div>
  <div class="row" >
  <% @nutritionist.meals.each do |meal| %>
    <div class="col-xs-12 col-sm-6 col-md-4 text-center ">
      <div class="meal-card">
        <%= link_to meals_path(meal) do %>
        <%= cl_image_tag meal.photo, width: 500, height: 300, crop: :fill %>
        <% end %>
        <div class="meal-title">
          <%= meal.name %>
        </div>
      </div>
        <%= meal.calories.to_s %>
        <br>
      <div class="meal-type">
        <%= meal.type %>
      </div>
    </div>
  <% end %>
</div>


