<div class="container">
  <div class="full-profile">
    <div class="avatar-image">
      <%= cl_image_tag @nutritionist.photo, width: 300, height:300, crop: :fill, class: "avatar-circle" %>
    </div>
    <div class="nutritionist-name">
      <%= @nutritionist.name %>
    </div>
    <div class="description">
      <h6 class="bio"> My name is <%= @nutritionist.name %>.
        <p><%= @nutritionist.bio %></p>
      </h6>
    </div>
    <% if current_user.nutritionists.include?(@nutritionist) %>
      <div class="followed">
        Following
      </div>
    <% else %>
      <%= link_to 'Follow', subscriptions_path(nutritionist_id: @nutritionist.id), method: :post, class: "follow" %>
    <% end %>
  </div>
  <div class="row">
  <% @nutritionist.meals.each do |meal| %>
    <div class="col-xs-12 col-sm-6 col-md-4 text-center">
    <!-- <div class="col-xs-12 col-sm-6 col-md-3 text-center margin-bottom-2 margin-left-2 margin-right-2"> -->
      <%= link_to nutritionist_meal_path(@nutritionist, meal) do %>
        <div class="meal-card">
          <div class="mask" style="background-image: url('<%= cl_image_path meal.photo %>');">
            <div class="<%= meal.type.downcase %> meal-type">
              <%= meal.type %>
            </div>
          </div>
          <div class="meal-card-labels">
            <div class="meal-card-calories">
              <i class="far fa-clock"></i>
              <p><%= "#{meal.time} min"%></p>
            </div>
            <div class="meal-card-calories">
              <i class="fas fa-fire"></i>
              <p><%= "#{meal.calories} cal"%></p>
            </div>
            <div class="meal-card-calories">
              <i class="fas fa-utensils"></i>
              <p><%= meal.yield %></p>
            </div>
          </div>

          <div class="meal-card-name">
            <%= truncate(meal.name, length: 40, separator: ' ') %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
