<div class="container">
  <div class="full-profile">
    <div class="avatar-image">
      <%= cl_image_tag @nutritionist.photo, width: 300, height:300, crop: :fill, class: "avatar-circle" %>
    </div>
    <div class="description">
      <h6 class="bio"> My name is <%= @nutritionist.name %>.
        <p><%= @nutritionist.bio %></p>
      </h6>
    </div>
     <%= link_to 'Follow', subscriptions_path(nutritionist_id: @nutritionist), method: :post, remote: 'true', class: "follow" %>
      </div>
  <div class="row">
  <% @nutritionist.meals.each do |meal| %>
    <div class="col-xs-12 col-sm-6 col-md-4 text-center">
    <!-- <div class="col-xs-12 col-sm-6 col-md-3 text-center margin-bottom-2 margin-left-2 margin-right-2"> -->
      <div class="meal-card margin-top-5 margin-bottom-5">
        <%= link_to nutritionist_meal_path(@nutritionist, meal) do %>
          <div class="mask" style="background-image: url('<%= cl_image_path meal.photo %>');">
          </div>
        <% end %>

        <div class="meal-card-bottom">
          <div class="meal-card-bottom-text">
            <div class="<%= meal.type.downcase %> meal-type">
              <%= meal.type %>
            </div>
            <div class="meal-card-calories">
              <%= "#{meal.calories} cal"%>
            </div>
          </div>

          <div class="meal-card-name">
            <%= truncate(meal.name, length: 70, separator: ' ') %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
