<div class="meal-container">
  <div class='header-wrapper'>
    <div class="meal-frame">
      <div class="back-img-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @meal.photo, width: 1000 %>');"></div>
      <%# cl_image_tag(@meal.photo, crop: :thumb, gravity: :face) %>
      <div class="<%= @meal.type %> meal-type-show">
        <%= @meal.type %>
      </div>
      <div class="meal-frame">
        <div class="inline-icons">
          <i class="far fa-clock fa-2x"></i>
          <p class="subtext"><%= @meal.time %> min</p>
          <i class="fas fa-utensils fa-2x"></i>
          <p class="subtext">Serves <%= @meal.yield %></p>
        </div>
        <h4 class="title-meal-show">Ingredients</h4>
        <ul class="ingredients">
          <% @ingredients.each do |ingredient| %>
          <li><%= ingredient.name %></li>
          <% end %>
        </ul>
        <div class="chart">
          <h4 class="title-meal-show">Macronutrients</h4>
          <div id="donutchart" style="width: 600px; height: 400px;"></div>
        </div>
      </div>
    </div>

    <div class='detail-wrapper'>
      <div>
        <div class='nutri-details'>
          <h1><%= @meal.name%></h1>
          <div class="avatar-wrapper">
            <%= link_to nutritionist_path(@meal.nutritionist) do %>
              <%= cl_image_tag(@meal.nutritionist.photo, width: 500, crop: :thumb, gravity: :face, class: "avatar-show") %>
            <% end %>
            <p class="grey">By: <%= @meal.nutritionist.name %>, dietician</p>
          </div>
        </div>
      </div>
      <div class="meals-header">
        <div class="meals-description">
          <p><%= @meal.description%></p>
        </div>
      </div>
      <div class="meal-recipe">
        <h4 class="title-meal-show">Recipe</h4>
        <p><%= @meal.recipe.html_safe %></p>
      </div>
      <p class="title-meal-show other-meals">Other recipes you may like</p>
      <div class="row">
        <% @suggestions.each do |meal| %>
        <div class="col-xs-12 col-sm-6 col-md-4 text-center">
          <!-- <div class="col-xs-12 col-sm-6 col-md-3 text-center margin-bottom-2 margin-left-2 margin-right-2"> -->
          <%= link_to nutritionist_meal_path(@meal.nutritionist, meal) do %>
          <div class="meal-card">
            <div class="mask" style="background-image: url('<%= cl_image_path meal.photo %>');">
              <div class="<%= meal.type.downcase %> meal-type">
                <%= meal.type %>
              </div>
            </div>
            <div class="meal-card-labels">
              <div class="meal-card-calories">
                <i class="far fa-clock"></i>
                <p><%= "#{meal.time} min"%></p>
              </div>
              <div class="meal-card-calories">
                <i class="fas fa-fire"></i>
                <p><%= "#{meal.calories} cal"%></p>
              </div>
              <div class="meal-card-calories">
                <i class="fas fa-utensils"></i>
                <p><%= meal.yield %></p>
              </div>
            </div>

            <div class="meal-card-name">
              <%= truncate(meal.name, length: 40, separator: ' ') %>
            </div>
          </div>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
  </div>

</div>


<% content_for :after_js do %>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load("current", {packages:["corechart"]});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ['Macronutrient', 'Weight/g'],
        ['Protein', <%= @meal.protein %>],
        ['Carbohydrate', <%= @meal.carbs %>],
        ['Fat', <%= @meal.fat %>]
      ]);

      var options = {
        width: 400,
        pieHole: 0.5,
      };

      var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
      chart.draw(data, options);
    }
  </script>
<% end %>
