<div class="banner-show" style="background-image: linear-gradient(180deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.5) 50%), url('https://images.unsplash.com/photo-1529592411653-00d59de9c738?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5a3baf0a88056748234ea5a57a1ba42c&auto=format&fit=crop&w=1950&q=80');">
</div>

<div class="header">
  <h4 class="grey">Vegan</h4>
  <p class="<%= @meal.type %>"><%= @meal.type %></p>
</div>

<div class="title-and-suggestions">
  <div class="row">
    <div class="col-xs-12 col-md-6 header">
        <h1><%= @meal.name %></h1>

      <div class="inline">
        <div>
          <%= link_to nutritionist_path(@meal.nutritionist) do %>
          <%= cl_image_tag(@meal.nutritionist.photo, crop: :thumb, gravity: :face, class: "avatar-show") %>
          <% end %>
        </div>
        <div>
          <p class="grey">By: <strong><%= @meal.nutritionist.name %></strong>, dietician</p>
          <p class="grey">August 24th 2018</p>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-5">
      <p class="grey">Other recipes you may like</p>
      <div class="container">
        <div class="row">
          <% @suggestions.each do |meal| %>
          <div class="col-xs-2">
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= meal.photo %>');">
            </div>
            <p><%= meal.name %></p>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="meal-container">
  <div class="row">
    <div class="col-xs-6">

      <h4>Ingredients</h4>

      <div>
        <ul class="list-group list-group-flush">
          <% @ingredients.each do |ingredient| %>
            <li class="list-group-item"><%= ingredient.name %></li>
          <% end %>
        </ul>
      </div>
    </div>


    <div class="col-xs-4">
      <div class="header">
        <h4>Recipe</h4>
        <p><%= @meal.recipe %></p>
      </div>
    </div>
  </div>
</div>





