<div class="meals-container">
  <div class="meal-title">
    <h2><%= @meal.name %></h2>
  </div>



  <div class="meal-frame">
    <div class="meals-photo">
      <%= cl_image_tag(@meal.photo, crop: :thumb, gravity: :face) %>
    </div>
  <div class="<%= @meal.type %> meal-type-show">
    <%= @meal.type %>
  </div>

  <div>
    <ul class="health-labels subtext">
    <% @meal.health_labels.each do |label| %>
      <li><%= label %></li>
    <% end %>
    </ul>
  </div>

    <div class="inline">
      <div>
        <%= link_to nutritionist_path(@meal.nutritionist) do %>
        <%= cl_image_tag(@meal.nutritionist.photo, crop: :thumb, gravity: :face, class: "avatar-show") %>
        <% end %>
      </div>
      <div>
        <p class="grey">By: <strong><%= @meal.nutritionist.name %></strong>, dietician</p>
        <p class="nutritionist-bio"><%= @meal.nutritionist.bio %></p>
      </div>
    </div>
  </div>

  <div class="meal-frame">
    <div class="meals-description">
      <h4>Description</h4>
      <p><%= @meal.description%></p>
    </div>

    <div class="inline-icons">
      <i class="far fa-clock fa-2x"></i>
      <p class="subtext"><%= @meal.time %> min</p>
      <i class="fas fa-utensils fa-2x"></i>
      <p class="subtext">Serves <%= @meal.yield %></p>
    </div>
  </div>

  <div class="meals-header">
    <h4>Macronutrients</h4>
  </div>

  <div class="chart">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Macronutrient', 'Weight/g'],
          ['Protein', <%= @meal.protein %>],
          ['Carbohydrate', <%= @meal.carbs %>],
          ['Fat', <%= @meal.fat %>]
        ]);

        var options = {
          title: '',
          pieHole: 0.5,
        };

        var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
        chart.draw(data, options);
      }
    </script>

    <div id="donutchart" style="width: 600px; height: 400px;"></div>
  </div>

  <div class="meals-header">
    <h4>Ingredients</h4>
  </div>
  <div>
    <ul class="ingredients">
      <% @ingredients.each do |ingredient| %>
        <li><%= ingredient.name %></li>
      <% end %>
    </ul>
  </div>

  <div class="meal-recipe">
    <h4>Recipe</h4>
    <p><%= @meal.recipe %></p>
  </div>

  <div class="col-xs-12 col-md-5">
    <p class="grey">Other recipes you may like</p>
    <div class="container meal-container">
      <div class="row">
        <% @suggestions.each do |meal| %>
        <div class="col-xs-4">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= meal.photo %>');">
          </div>
          <p class="meal-card-name"><%= meal.name %></p>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
