<div class="banner-show" style="background-image: linear-gradient(180deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.5) 50%), url('<%= @meal.photo %>');">
  <div class="follow-nutritionist">
    <%= link_to nutritionist_path(@meal.nutritionist) do %>
    <%= cl_image_tag(@meal.nutritionist.photo, crop: :thumb, gravity: :face, class: "avatar-show") %>
    <% end %>
    <a href="#" class="btn btn-primary follow-button">follow</a>
  </div>

</div>

<div class="meal-container">
  <div class="row">
    <div class="col-xs-8">
      <br>
      <p class="breakfast"><%= @meal.type %></p>
      <h1><%= @meal.name %></h1>

      <h4><%= @meal.calories %> cal</h3>

      <div class="col-xs-5 ingredient-table">

        <h4>Ingredients</h4>
        <div>
          <ul class="list-group list-group-flush">
          <% @ingredients.each do |ingredient| %>
            <li class="list-group-item"><%= ingredient.name %></li>
          <% end %>
          </ul>
        </div>

        <div class="btn btn-success">See Recipe</div>
      </div>
    </div>


    <div class="col-xs-4">

    </div>
  </div>
</div>





